In [21]:
import numpy as np
import pandas as pd
import seaborn as sns

In [22]:
data= pd.read_csv('junedata.csv')

In [23]:
data

,domain_name,employee_name,designation,start_date,end_date,total_days,total_working_days,total_leave_taken,work_completed
0,Web Development Team,Sonet,Team Lead,06/01/2021,06/30/2021,28,20,8,Added footer section and try some routes\nWork...
1,Web Development Team,Ridwan,Team Member,06/01/2021,06/30/2021,28,19,9,Changed all div components into FlexBox\nClear...
2,Web Development Team,Aswin,Team Member,06/01/2021,06/30/2021,28,21,7,Added Mobiles apps page in footer section and ...
3,Web Development Team,Sajith,Team Member,06/01/2021,06/30/2021,28,18,10,Tried to add the links to header links in offe...
4,Web Development Team,Neethu,Team Member,06/01/2021,06/30/2021,20,17,3,learn about Hooks concept in react js and doin...
5,Web Development Team,Neenu,Team Member,06/01/2021,06/30/2021,20,18,2,created login form with hooks\ncreated registr...
6,Web Development Team,Midhila,Team Member,06/01/2021,06/30/2021,17,15,2,learn Hooks and custom hooks (Functional compo...
7,Android Development Team,Mubeena,Team Lead,06/01/2021,06/30/2021,28,27,1,NaN
8,Android Development Team,Sreelakshmi,Team Member,06/01/2021,06/30/2021,18,12,6,Project: foodie user app Working in adding hot...
9,Android Development Team,Sultana,Team Member,06/01/2021,06/30/2021,28,16,12,Project: Custom Screen Completed the given cus...
10,Android Development Team,Sajana,Team Member,06/01/2021,06/30/2021,28,24,4,Project: foodie user app Working on menulist a...
11,Android Development Team,Akhil,Team Member,06/01/2021,06/30/2021,28,19,9,Project : Foodie Work :Added app launcher icon...
12,Android Development Team,Sibin,Team Member,06/01/2021,06/30/2021,28,11,17,Created screen with top tab navigation\n modif...
13,Android Development Team,Gopakumar,Team Member,06/24/2021,06/30/2021,6,6,0,"HTML web page creation\nCSS, web page creation"
14,Digital Marketing Team,Dhanya,Team Member,06/01/2021,06/30/2021,27,22,5,collected email address from linkedin\nLearned...
15,Digital Marketing Team,Shruthi,Team Member,06/01/2021,06/30/2021,14,9,5,Gone through social media marketing\nCollected...
16,Graphic Design Team,Dithu,Team Member,06/01/2021,06/30/2021,28,23,5,Today I studied poster design.\nToday I studie...
17,Data Analyst Team,Aquib,Team Lead,06/01/2021,06/30/2021,28,20,8,started election database\nData Collection for...
18,Data Analyst Team,Nandana,Team Member,06/01/2021,06/30/2021,28,22,6,completed Reshaping and concatnation\ndata col...

In [24]:
at_pct = round((data['total_working_days']/data['total_days'])*100)

In [25]:
at_pct

0      71.0
1      68.0
2      75.0
3      64.0
4      85.0
5      90.0
6      88.0
7      96.0
8      67.0
9      57.0
10     86.0
11     68.0
12     39.0
13    100.0
14     81.0
15     64.0
16     82.0
17     71.0
18     79.0
dtype: float64

In [26]:
scale=[]
for i in range(len(at_pct)):
    if at_pct[i]>=90 and at_pct[i]<=100:
        scale.append(9)
    elif at_pct[i]>=80 and at_pct[i]<=89:
        scale.append(8)
    elif at_pct[i]>=70 and at_pct[i]<=79:
        scale.append(7)
    elif at_pct[i]>=60 and at_pct[i]<=69:
        scale.append(6)
    elif at_pct[i]>=50 and at_pct[i]<=59:
        scale.append(5)
    elif at_pct[i]>=40 and at_pct[i]<=49:
        scale.append(4)
    elif at_pct[i]>=10 and at_pct[i]<=39:
        scale.append(3)
    else:
        scale.append(ap[i])

In [27]:
scale

[7, 6, 7, 6, 8, 9, 8, 9, 6, 5, 8, 6, 3, 9, 8, 6, 8, 7, 7]

In [28]:
scaled= pd.DataFrame(data['employee_name'],columns=['employee_name'])

In [29]:
scaled['attendance']=scale

In [30]:
scaled

   employee_name  attendance
0         Sonet            7
1         Ridwan           6
2          Aswin           7
3         Sajith           6
4         Neethu           8
5          Neenu           9
6        Midhila           8
7        Mubeena           9
8    Sreelakshmi           6
9        Sultana           5
10        Sajana           8
11         Akhil           6
12         Sibin           3
13     Gopakumar           9
14        Dhanya           8
15       Shruthi           6
16         Dithu           8
17         Aquib           7
18       Nandana           7

# TIME

In [32]:
data= pd.read_csv('junetime.csv',index_col='date')

In [33]:
data

,Sonet,Ridwan,Aswin,Sajith,Neethu,Neenu,Midhila,Mubeena,Sreelakshmi,Sultana,Sajana,Akhil,Sibin,Gopakumar,Dhanya,Shruthi,Dithu,Aquib,Nandana
date,,,,,,,,,,,,,,,,,,,
06/01/2021,5.35,5.27,5.26,NaN,NaN,NaN,NaN,NaN,6.48,6.09,6.15,5.58,6.21,NaN,NaN,NaN,5.39,5.35,NaN
06/02/2021,NaN,5.59,5.28,5.32,NaN,NaN,NaN,NaN,5.28,5.54,5.56,NaN,NaN,NaN,5.27,NaN,5.32,5.21,NaN
06/03/2021,5.21,5.03,NaN,5.28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.24,NaN,5.25,NaN,5.90
06/04/2021,5.27,5.00,5.23,5.25,NaN,NaN,NaN,NaN,NaN,NaN,6.40,5.34,5.55,NaN,5.07,NaN,NaN,5.48,NaN
06/05/2021,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.23,6.36,6.17,6.20,5.51,NaN,5.24,NaN,NaN,5.27,5.16
06/06/2021,5.33,NaN,NaN,5.35,NaN,NaN,NaN,NaN,6.33,NaN,5.42,NaN,NaN,NaN,5.24,NaN,5.32,NaN,5.24
06/07/2021,6.12,NaN,5.22,9.03,NaN,NaN,NaN,NaN,NaN,6.22,5.51,5.50,NaN,NaN,5.57,NaN,5.47,5.22,5.40
06/08/2021,5.36,5.08,5.21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.19,NaN,NaN,NaN,5.30,NaN,5.30,NaN,5.42
06/09/2021,NaN,5.57,5.21,5.41,7.01,5.59,NaN,NaN,7.00,NaN,NaN,5.30,NaN,NaN,5.60,NaN,NaN,5.29,5.30
06/10/2021,5.38,5.14,5.25,4.57,5.53,5.53,NaN,NaN,5.53,NaN,NaN,9.26,NaN,NaN,6.20,NaN,5.31,5.21,NaN
06/11/2021,5.48,NaN,5.29,NaN,5.54,5.59,NaN,NaN,6.21,NaN,6.03,5.24,NaN,NaN,5.51,NaN,5.29,NaN,5.29
06/12/2021,5.34,4.56,NaN,NaN,5.36,5.37,NaN,NaN,6.51,NaN,6.15,NaN,NaN,NaN,5.23,NaN,5.59,5.33,5.06
06/13/2021,NaN,NaN,NaN,11.00,5.40,5.39,4.57,NaN,6.47,NaN,7.44,NaN,NaN,NaN,NaN,NaN,5.29,5.16,4.56
06/14/2021,5.36,5.22,5.27,5.36,6.17,5.35,5.40,NaN,8.46,NaN,9.29,5.27,NaN,NaN,NaN,NaN,5.59,NaN,NaN
06/15/2021,10.31,NaN,5.22,5.27,5.39,6.06,NaN,NaN,7.00,6.50,6.40,8.19,NaN,NaN,5.21,5.24,5.35,NaN,NaN
06/16/2021,5.35,5.16,5.21,NaN,5.42,5.37,6.29,NaN,6.16,NaN,5.43,8.19,NaN,NaN,5.44,5.23,5.29,5.19,8.34
06/17/2021,NaN,5.24,5.19,6.17,NaN,5.42,6.45,NaN,NaN,6.22,9.19,NaN,NaN,NaN,5.30,5.34,5.31,NaN,5.15
06/18/2021,5.36,NaN,5.25,6.05,5.42,NaN,5.40,NaN,NaN,NaN,9.05,6.20,NaN,NaN,NaN,5.51,5.49,5.34,5.27
06/19/2021,5.45,NaN,NaN,NaN,5.35,5.41,5.56,NaN,NaN,NaN,6.11,5.24,NaN,NaN,5.46,NaN,6.01,NaN,NaN
06/20/2021,NaN,NaN,NaN,5.29,NaN,NaN,6.30,NaN,NaN,NaN,6.53,NaN,NaN,NaN,5.42,9.46,6.00,5.57,5.01
06/21/2021,5.32,NaN,5.13,5.20,6.11,5.35,NaN,NaN,NaN,NaN,6.11,7.25,NaN,NaN,5.42,5.36,5.24,NaN,5.10
06/22/2021,5.46,7.54,5.27,5.24,5.34,5.35,5.50,NaN,NaN,11.30,9.25,11.55,NaN,NaN,5.49,5.38,NaN,NaN,5.20
06/23/2021,NaN,NaN,5.22,NaN,6.05,5.45,5.41,NaN,NaN,5.37,7.35,NaN,NaN,NaN,6.02,5.27,NaN,7.06,NaN
06/24/2021,5.39,5.24,5.35,NaN,6.06,5.50,6.12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.02,NaN,5.55,6.27,5.39
06/25/2021,NaN,NaN,5.31,5.41,5.36,5.33,5.35,NaN,NaN,NaN,6.42,5.58,5.34,7.22,NaN,NaN,5.57,NaN,7.12
06/26/2021,5.34,10.19,5.32,NaN,NaN,5.41,5.53,NaN,NaN,NaN,NaN,NaN,5.37,8.04,5.29,NaN,5.48,NaN,5.18
06/27/2021,5.18,NaN,NaN,NaN,5.42,5.23,7.32,NaN,NaN,NaN,7.27,NaN,5.29,NaN,NaN,NaN,5.51,NaN,5.22
06/28/2021,NaN,NaN,8.54,NaN,5.46,5.42,5.35,NaN,NaN,NaN,7.53,NaN,5.23,6.53,6.02,NaN,5.41,5.32,5.17

In [34]:
time =round(data.median(),ndigits=2)

In [35]:
time

Sonet          5.36
Ridwan         5.23
Aswin          5.25
Sajith         5.34
Neethu         5.42
Neenu          5.41
Midhila        5.52
Mubeena         NaN
Sreelakshmi    6.40
Sultana        6.22
Sajana         6.40
Akhil          5.58
Sibin          5.37
Gopakumar      7.22
Dhanya         5.42
Shruthi        5.35
Dithu          5.39
Aquib          5.32
Nandana        5.23
dtype: float64

In [36]:
tscale=[]
for i in range(len(time)):
    if time[i]>=5.00 and time[i]<=5.30:
        tscale.append(9)
    elif time[i]>=5.31 and time[i]<=6.00:
        tscale.append(8)
    elif time[i]>=6.01 and time[i]<=6.30:
        tscale.append(7)
    elif time[i]>=6.31 and time[i]<=7.00:
        tscale.append(6)
    else:
        tscale.append(5)

In [37]:
tscale

[8, 9, 9, 8, 8, 8, 8, 5, 6, 7, 6, 8, 8, 5, 8, 8, 8, 8, 9]

In [38]:
scaled['time']=tscale

In [39]:
scaled

   employee_name  attendance  time
0         Sonet            7     8
1         Ridwan           6     9
2          Aswin           7     9
3         Sajith           6     8
4         Neethu           8     8
5          Neenu           9     8
6        Midhila           8     8
7        Mubeena           9     5
8    Sreelakshmi           6     6
9        Sultana           5     7
10        Sajana           8     6
11         Akhil           6     8
12         Sibin           3     8
13     Gopakumar           9     5
14        Dhanya           8     8
15       Shruthi           6     8
16         Dithu           8     8
17         Aquib           7     8
18       Nandana           7     9